@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --primary-color: #a955f7;
    --primary-color-dark: #8e44ad;
    --secondary-color: #f3b838;
    --font-color-dark: #1f1f1f;
    --font-color: #6d6363;
    --extra-light: #faf5ff;
    --max-width: 1200px;
    --background-color: #f9f9f9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    /* margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--font-color); */
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}

.navbar{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

nav .logo a:hover{
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 500;
    color: var(--font-color-dark);
    transition: .3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section{
    background-color: var(--extra-light);
}

.container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 7rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subitle{
    letter-spacing: 2px;
    color: var(--primary-color);
    font-size: 500;
    margin-bottom: .5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
    color: var(--font-color-dark);
}

.title span{
    font-weight: 500;
}

.description{
    color: var(--font-color);
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.action_btns{
    display: flex;
    gap: 1rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.hire_me{
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire_me:hover{
    background-color: var(--primary-color-dark);
}

.portfolio{
    color: var(--primary-color);
}

.portfolio:hover{
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min (23rem, 85%);
    border-radius: 100%;
}

@media (width <= 768px){
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        top: 85px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 85px);
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    nav input:checked ~ ul{
        right: 0;
    }
    .container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .image{
        grid-area: 1/1/2/2;
    }

    .action_btns{
        margin: auto;

    }
}   

#about{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}
#about>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about section#picture{
    padding: 20px;
    width: inherit;
    height: inherit;
}

#picture>img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
}

#about section{
    width: 50%;
}

#projects {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contact {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}