body{
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #333;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #e0e0e0;
}

header a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 15px;
}

header a:hover{
    padding: 2px 5px;
    text-decoration: underline;
    color: #696c6e;
}

#about{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}
#about>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about section#picture{
    padding: 20px;
    width: inherit;
    height: inherit;
}

#picture>img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
}

#about section{
    width: 50%;
}

#projects {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contact {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}